$animation-period: 1000ms;
.SongCard {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.4rem;

  opacity: 0;
  animation-duration: $animation-period;
  // fill-mode `forwards`so that it stays after the animation is over
  animation-fill-mode: forwards;
  animation-name: appear-gradually;
  animation-timing-function: linear;

  @for $i from 1 through 24 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-period * ($i - 1) / 24;
    }
  }

  &:hover {
    background-color: #13110d;
  }
  &.selected {
    background-color: #242018;
  }

  button {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    display: flex;
    gap: 1rem;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    &:hover {
      cursor: pointer;
    }

    img {
      border-radius: 1000px;
      width: 48px
    }

    .song-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-grow: 1;
    }

    .song-duration {
      display: flex;
      align-items: center;
    }
  }
}

@keyframes appear-gradually {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
