.App {
  height: 100vh;
  background-color: transparent;
  color: #fff;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}